{{#if resume.volunteer.length}}
<section class="volunteer">
    {{> section-heading icon="gift" value="Volunteering"}}
    {{#each resume.volunteer}}
    <h3>
    {{#if url}}
    <a href="{{url}}" target="_blank">{{organization}}</a>
    {{else}}
    {{organization}}
    {{/if}}
    </h3>
    <p></p>
    {{#each this.positions}}
    {{> position}}
    {{/each}}
    <p></p>
    {{/each}}
</section>

{{/if}}
